<div class="container-fluid">
  <div class="col-sm-4 col-sm-offset-4">

<h1>Editing Service</h1>

<%= render 'form' %>

<%= link_to 'Show', @service %> |
<%= link_to 'Back', services_path %>

  </div>
</div>