<div class="container-fluid">
  <div class="col-sm-6 col-sm-offset-3">
    <p id="notice"><%= notice %></p>
      </br>
      <h1 style="text-align:center">USA Electrical Systems Services</h1>
      </br>
      </br>
        <div>
          <% unless @services.empty? %>
          <% @services.each do |service| %>
              <div style="font-size:18px"><%= service.title %></div>
              </br>
              <div style="font-size:16px;"><i><%= service.heading1 %></i></div>
            <hr>
          <% end %>
          <% end %>
        </div>

      <br>

    <div style="text-align:right">
    <% if current_admin.present? %>
      <%= link_to 'New Service', new_service_path %>
    <% end %>
    </div>
  </div>
</div>