<div class="container-fluid">
  <div class="col-sm-6 col-sm-offset-3">
    <p id="notice"><%= notice %></p>
      </br>
      <h1 style="text-align:center">USA Electrical Systems Blog</h1>
      </br>
      </br>
        <div>
          <% @blogs.each do |blog| %>
              <div style="font-size:18px"><%= blog.title %></div>
              </br>
              <div style="font-size:16px;"><i><%= blog.heading %></i></div>
            <hr>
          <% end %>
        </div>

      <br>

    <div style="text-align:right">
    <% if current_admin.present? %>
      <%= link_to 'New Blog Post', new_blog_path %>
    <% end %>
    </div>
  </div>
</div>
