<div class="container-fluid">
    
  <div class="row banner">
    <div class="slogan">
      The Number 1 Electrical Contractor in the Greater Los Angeles Area
    </div>
  </div>

  <div class="row about">
    <h1>Welcome To USA Electrical Systems</h1>
    <h2>We're Your Trusted Los Angeles Electrician!</h2>
    </br>
    <p>
      There’s a good chance you’re here because you have an electrical problem. 
      Maybe you would like to make your home the envy of your neighbors by adding
      indoor or outdoor lighting. What about home theater equipment, 
      a home automation system, or any of the TOP-OF-THE-LINE products we can 
      supply and install for you?
    </p>
    </br>
    <p>
      Whatever your needs are, we have a professional technician ready to make 
      your home safer, more beautiful, more comfortable, and more valuable!
    </p> 
  </div>

  <div class="row services">
    <div class="col-sm-4">
      Industrial
    </div>
    <div class="col-sm-4">
      Commercial
    </div>
    <div class="col-sm-4">
      Residential
    </div>  
  </div>

  <div class="row contact">
    <div class="col-sm-6">
      Location
    </div>
    <div class="col-sm-6">
      Contact
    </div> 
  </div>

</div>