<div class="container-fluid">
    
  <div class="row banner">
    <div class="slogan">
      The Number 1 Electrical Contractor in the Greater Los Angeles Area
    </div>
  </div>


  <div class="row services">
    <div class="col-sm-4">
      Industrial
    </div>
    <div class="col-sm-4">
      Commercial
    </div>
    <div class="col-sm-4">
      Residential
    </div>  
  </div>

</div>