<div class="container-fluid">
    
  <div class="row banner">
    <div class="slogan">
      <h1 style="font-weight:900; font-size:65px; text-shadow: 5px 5px black;">Welcome to USA Electrical Systems</h1>
      </br>
      <h2 style="text-shadow: 2px 2px black;"><i>The leading provider of electrical services for the greater Los Angeles Area</i></h2>
    </br>
    <a class="btn btn-primary btn-lg" href="#" role="button" style="padding-left:50px; padding-right:50px; color: white;">Learn More</a>
    </div>
  </div>

</div>

<div class="contrainer">


  <div class="services">
    <h1>Services</h1>
      </br>
      </br>
      </br>
      <div class="row">
        <div class="col-sm-6" style="text-align:left; padding-left:100px; padding-right:50px;">
          <h3>Residential</h3>
          </br>
          <p>If you are looking to install lighting in your home or simply need some troubleshooting give us a call, 
            we are experts in all things residential. We have worked with thousands of residential clients and know how get the job done</p>
          </br>
          <ul>
            <li>Lighting Control Systems</li>
            <li>Rewiring</li>
            <li>Kitchen Lighting</li>
            <li>Bathroom Lighting</li>
            <li>Landscape Lighting</li>
            <li>Energy Efficient LED Lighting</li>
            <li>Service Meter Upgrades</li>
            <li>Troubleshooting</li>
            <li>... And Much More!</li>
          </ul>
        </div>
        <div class="col-sm-6" style="font-size: 55px; color: #f0ad4e">
          <i class="fa fa-5x fa-building"></i>
        </div>
      </div>
      </br>
      </br>
      <hr>
      </br>
      </br>
      </br>

      <div class="row">
        <div class="col-sm-6" style="font-size: 55px; color: #5bc0de;">
          <i class="fa fa-5x fa-briefcase"></i>
        </div>
        <div class="col-sm-6" style="text-align:left; padding-left:100px; padding-right:50px;">
          <h3>Commercial</h3>
          </br>
          <p>We are an approved lighting control technician employer. We can fulltill all your needs with Title24 or any commercial work.</p>
          </br>
          <ul>
            <li>CALCTP(acceptance technicans on site)</li>
            <li>Tenant Improvements</li>
            <li>Code Compliance - CA Title 24</li>
            <li>Apartment & Commercial Building Repairs</li>
            <li>Troubleshooting</li>
            <li>... And Much More!</li>
          </ul>
        </div>
      </div>
      </br>
      </br>
      </br>
      <hr>
      </br>
      </br>

      <div class="row">
        <div class="col-sm-6" style="text-align:left; padding-left:100px; padding-right:50px;">
          <h3>Industrial</h3>
          </br>
          <p>Whether it's a motor control center or a machine shop installation we can help you with your industrial needs.</p>
          </br>
          <ul>
            <li>Motor Controls</li>
            <li>Machinery(Machine Shops)</li>
            <li>Pumps</li>
            <li>Air Compressor</li>
            <li>... And Much More!</li>
          </ul>
        </div>
        </br>
        <div class="col-md-6" style="font-size: 55px; color: #5cb85c;">
          <i class="fa fa-5x fa-wrench"></i>
        </div>  
      </div>
   


  </br>
  </br>
  </br>
  <hr> 
  <div class="row areas">
    <h1>Areas We Serve</h1>
    </br>
    </br>
    </br>
    <div class="col-sm-4">
        <p><i class="fa fa-map-marker"></i> Agoura, CA</p>
        <p><i class="fa fa-map-marker"></i> Arcadia, CA</p>
        <p><i class="fa fa-map-marker"></i> Anaheim, CA</p>
        <p><i class="fa fa-map-marker"></i> Chatsworth, CA</p>
        <p><i class="fa fa-map-marker"></i> Calabasas, CA</p>
        <p><i class="fa fa-map-marker"></i> Canoga Park, CA</p>
    </div>
    <div class="col-sm-4">
        <p><i class="fa fa-map-marker"></i> Culver City, CA</p>
        <p><i class="fa fa-map-marker"></i> Glendale, CA</p>
        <p><i class="fa fa-map-marker"></i> Hermosa Beach, CA</p>
        <p><i class="fa fa-map-marker"></i> Hollywood, CA</p>
        <p><i class="fa fa-map-marker"></i> Inglewood, CA</p>
        <p><i class="fa fa-map-marker"></i> Los Angeles, CA</p>
    </div>
    <div class="col-sm-4">
        <p><i class="fa fa-map-marker"></i> Santa Monica, CA</p>
        <p><i class="fa fa-map-marker"></i> Moorpark, CA</p>
        <p><i class="fa fa-map-marker"></i> Long Beach, CA</p>
        <p><i class="fa fa-map-marker"></i> Malibu, CA</p>
        <p><i class="fa fa-map-marker"></i> Woodland Hills, CA</p>
        <p><i class="fa fa-map-marker"></i> Northridge, CA</p>
    </div>
  </div>
  <hr>
  <div class="row contact">
    <h1>Contact</h1>
    </br>
    </br>
    <p>Rey Noris</p>
    <p>7655 Winnetka Ave Ste 3103</p>
    <p>Winnetka, CA 91306 Winnetka</p>
    <p>(818) 427-4767</p>
  </div>

</div>