<div class="container-fluid">
    
  <div class="row banner">
    <div class="slogan">
      <h1>The Number 1 Electrical Contractor in the Greater Los Angeles Area</h1>
    </div>
  </div>

</div>

<div class="contrainer">
  <div class="row about">
    <h1>Welcome To USA Electrical Systems</h1>
    <h2>We're Your Trusted Los Angeles Electrician!</h2>
    </br>
    <hr>
    </br>
    <p>
      If you’re here it's likely because you have an electrical problem. 
      Perhaps you would like to make your home the envy of your neighbors by adding
      indoor or outdoor lighting. What about home theater equipment, 
      a home automation system, or any of the highest quality products we can 
      supply and install for you?
    </p>
    </br>
    <p>
      Whatever your needs are, we have professional technicians ready to make 
      your home safer, more beautiful, more comfortable, and more valuable!
    </p> 
  </div>
  </br>
  </br>
  </br>
  <hr>
  <div class="row services">
    <h1>Our Services Include</h1>
  </br>
  </br>
  </br>
    <div class="col-sm-4">
      <p>Industrial</p>
      </br>
      <i class="fa fa-5x fa-building"></i>
    </div>
    <div class="col-sm-4">
      <p>Commercial</p>
      </br>
      <i class="fa fa-5x fa-barcode"></i>
    </div>
    <div class="col-sm-4">
      <p>Residential</p>
      </br>
      <i class="fa fa-5x fa-wrench"></i>
    </div>  
  </div>
  </br>
  </br>
  </br>
  <hr> 
  <div class="row areas">
    <h1>Areas We Serve</h1>
    </br>
    </br>
    </br>
    <div class="col-sm-4">
        <p><i class="fa fa-map-marker"></i> Agoura, CA</p>
        <p><i class="fa fa-map-marker"></i> Arcadia, CA</p>
        <p><i class="fa fa-map-marker"></i> Anaheim, CA</p>
        <p><i class="fa fa-map-marker"></i> Chatsworth, CA</p>
        <p><i class="fa fa-map-marker"></i> Calabasas, CA</p>
        <p><i class="fa fa-map-marker"></i> Canoga Park, CA</p>
    </div>
    <div class="col-sm-4">
        <p><i class="fa fa-map-marker"></i> Culver City, CA</p>
        <p><i class="fa fa-map-marker"></i> Glendale, CA</p>
        <p><i class="fa fa-map-marker"></i> Hermosa Beach, CA</p>
        <p><i class="fa fa-map-marker"></i> Hollywood, CA</p>
        <p><i class="fa fa-map-marker"></i> Inglewood, CA</p>
        <p><i class="fa fa-map-marker"></i> Los Angeles, CA</p>
    </div>
    <div class="col-sm-4">
        <p><i class="fa fa-map-marker"></i> Santa Monica, CA</p>
        <p><i class="fa fa-map-marker"></i> Moorpark, CA</p>
        <p><i class="fa fa-map-marker"></i> Long Beach, CA</p>
        <p><i class="fa fa-map-marker"></i> Malibu, CA</p>
        <p><i class="fa fa-map-marker"></i> Woodland Hills, CA</p>
        <p><i class="fa fa-map-marker"></i> Northridge, CA</p>
    </div>
  </div>
  <hr>
  <div class="row contact">
    <h1>Contact</h1>
    </br>
    </br>
    <p>7655 Winnetka Ave Ste 3103</p>
    <p>Winnetka, CA 91306 Winnetka</p>
    <p>(818) 427-4767</p>
  </div>

</div>