@import "bootstrap-sprockets";
@import "bootstrap";

//= depend_on_asset "globe1.jpg"

.banner {
  height: 600px;
  background-image: image-url("globe1.jpg"); 
  .slogan {
    text-align: center;
    color: white;
    font-size: 34px;
    padding-top: 100px;
  }
}

.services {
  text-align: center;
  padding-top: 30px;
}

.navbar {
  margin-bottom: 0px;
}