@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

//= depend_on_asset "globe1.jpg"

.banner {
  height: 600px;
  background-image: url("globe1.jpg"); 
  .slogan {
    text-align: center;
    color: white;
    font-size: 34px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.about {
  padding-top: 40px;
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  font-size: 16px;
}

.services {
  text-align: center;
  padding-top: 40px;
  font-size: 20px;
}

.navbar {
  margin-bottom: 0px;
}